@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {
  --font-plusJakarta: "Plus Jakarta Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

@config "../tailwind.config.js";

* {
  font-family: "Rubik", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 116, 139, 0.5)
}
@keyframes typing {
  0% { width: 0 }
  50% { width: 100% }
  100% { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 4s steps(13) infinite, blink 0.7s step-end infinite;
  max-width: max-content;
}